*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 100vw;
    margin: 0 auto;

}


/*main*/

/*color scheme head*/

.color-head{
    display: flex;
    padding: 0.5em;
    justify-content: center;
    gap: 20px;
}

.color-choice{

}

.colors-mode{
    width: 60%;
}

.color-head .btn{
    padding: 0.5em;
    background-color: #0A89A6;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.color-head .btn:hover{
    background-color: #15AEBF;
}


/*color scheme body*/
.colors-scheme-body{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-areas:
"box1 box2 box3 box4 box5"
;
}

#box1{
grid-area: box1;
height: 70vh;
}

#box2{
grid-area: box2;

height: 70vh;
}

#box3{
grid-area: box3;
height: 70vh;
}

#box4{
grid-area: box4;
height: 70vh;
}

#box5{
grid-area: box5;
height: 70vh;
}


.colors-scheme-footer{
    background-color: white;
    padding: 0.4em 0.8em;
    display: flex;
    gap: 30px;
    align-items: center;
    border: 1px solid red;
}

.colors-scheme-footer p{
    width: 50%;
}
